# required
NETBOX_TOKEN="Token mIUHaSJBtu5rZWE8zTddAbehgP123sNr8aRjscir"
NETBOX_URL="https://ztqwdadw3.netboxapp.com/"
# optional
LOGGING_CONFIG_PATH="logging_config.json"
CSV_EXPORT_PATH="exports/csv"
JSON_EXPORT_PATH="exports/json"